.main-title{
    margin: 20rem auto;
    padding: 10px;
    border: 3px solid #000;
    width: fit-content; // center the element with it padding 
    position: relative;



    
}

.main-title::before, .main-title::after{

    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: var(--main-color);
    border-radius: 50px;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::before{
   right: -30px;
}
.main-title::after{
   left: -30px;
}

.main-title:hover::after{
    z-index: -1;
    animation: left-side .5s linear forwards;
}
.main-title:hover::before{
    z-index: -1;
    animation: right-side .5s linear forwards;
}
.main-title:hover{
    cursor: pointer;
    transition-delay:.5s ;
    color: #fff;
    border: 2px solid #fff;
}
@keyframes left-side {
    50%{
        right: 0;
        height: 12px;
        width: 12px;
    }
    100%{
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
@keyframes right-side {
    50%{
        right: 0;
        height: 12px;
        width: 12px;
    }
    100%{
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

.article{
       
        


    .container{
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
        gap: 20px;
    }
    

    .box{
        box-shadow: 0 2px 15px rgb(58, 57, 57);
        border-radius: 6px;
        overflow: hidden;
        transition: transform var(--main-transition) , box-shadow var(--main-transition);
    }

    .box:hover{
        cursor: pointer;
        transform: translateY(-10px);
        box-shadow:0 2px 15px rgb(21, 21, 21) ;

        .info:hover{
            background:#ccc;

           
        }
    }

    .content{
        padding: 10px;

        h3{
            margin-bottom: 7px;
        }
    }
    .info{
        border-top: 2px solid rgb(108, 105, 105);
        padding: 13px;

        display: flex;
        justify-content: space-between;

        a{
            color: #000;
            font-weight: bold;
        }
      
    
    }

    .info:hover{
        i{
            transform: translateX(5px);
            transition: .5s;
        }
    }



    .container img{
           
        max-width: 100%;   
    }
}