
.header{
    position: relative;

    .container{
        display: flex;
        justify-content: start;
        align-items: center;
        position: relative;
        padding: 10px auto;
        flex-wrap: wrap; // helps with responsive

        
        
        .logo img{
            
            width: 44px;
        }

    
         .main-nav{
            display: flex;
                gap: 20px;
                opacity: 1;
                margin-left: 20px;
                font-size: 16px;
                font-weight: bold;

                & > li:first-child, li:nth-child(2){
                    color: gray;
                }
        }
            

            li:hover{
                cursor: pointer;
                color: rgb(225, 147, 29);
                transition: var(--main-transition);

                
            }

           
        



        .main-nav > i{
            opacity: .8;
            font-size: 15px;
            cursor: pointer;
        
            
        
        }
    }

 

}


@media (max-width:767px) {
   
    .header .main-nav{
     transform: translateX(50%);

     li:nth-child(2),li:nth-child(3){
        margin-left: 30px;
     }

     .mega-menu{
        margin-top: 20px;
        background: #000;
        z-index: 100;

        li{
            color: #fff;
        }
     }
  }

   
    
    .header .logo{
        display: flex;
        justify-content: center;

        width: 100%;
        margin-bottom: 20px;
    }

     
}

