// Start Global Rules 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
   
   
    
   
}
a{text-decoration: none;}
ul {
    list-style: none;
}
.container{
    
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px) {
    .container{
        width: 750px;
        
    }
    
}

@media (min-width:992px) {
    .container{
        
        width: 970px;
       
        
    }
    
}
@media (min-width:1200px) {
    .container{
      
        width: 90vw;
    }
    
}

:root {
    --main-color:rgb(225, 147, 29);
    --main-color-alt:rgb(159, 119, 58); // used in hover
    --main-transition:.3s;
}
// End Global Rules 

