* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-size: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 90vw;
  }
}

:root {
  --main-color:rgb(225, 147, 29);
  --main-color-alt:rgb(159, 119, 58);
  --main-transition:.3s;
}

.header {
  position: relative;
}

.header .container {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  padding: 20px 0;
  flex-wrap: wrap;
}

.header .container .logo img {
  width: 44px;
}

.header .container .main-nav {
  display: flex;
  gap: 20px;
  opacity: .5;
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
}

.header .container .main-nav li:hover {
  cursor: pointer;
  color: #e1931d;
  transition: var(--main-transition);
}

.header .container .main-nav i {
  opacity: .8;
  font-size: 15px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .header {
    display: flex;
    justify-content: center;
  }
  .header .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }
}

.landing .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing .left {
  margin-top: 8rem;
}

.landing .left .get-app {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.landing .left h1 {
  font-size: 50px;
  margin-top: 1rem;
}

.landing .left h1 span {
  color: orange;
  font-family: 'Pacifico', cursive;
  font-weight: 100;
  font-size: 3.5rem;
}

.landing .left .link {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 1rem;
}

.landing .left .link img {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.landing .left .link .discover {
  padding: 13px 20px;
  border: none;
  border-radius: 0 20px 0 20px;
  background: #fdc024;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.landing .left .link p {
  margin-left: -10px;
  font-weight: 600;
}

.landing .left .reviews {
  margin-top: 7rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.landing .left .reviews i {
  font-size: 3rem;
  opacity: .4;
  color: #a8a6a6;
}

.landing .left .reviews .star {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.landing .left .reviews .star img {
  margin-right: 10px;
}

.landing .left .reviews p {
  color: #c7971d;
  font-weight: bold;
}

.landing .left .reviews img {
  margin-bottom: 10px;
  width: 3rem;
  height: 3rem;
}

.landing .right {
  height: 100%;
  width: 100%;
  background-image: url("../images/bg-phone.jpg");
  background-size: cover;
  background-color: var(--main-color);
  background-blend-mode: lighten;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 60% 100%, 48% 66%);
  opacity: .9;
  z-index: -999;
  position: absolute;
  right: 0;
}

.landing .right .phone {
  width: 350px;
  max-width: 100%;
  position: absolute;
  right: 7rem;
  bottom: 0;
  top: 8rem;
  z-index: 999;
}

.landing .fa-angles-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
}

.landing .fa-angles-down:hover {
  color: gray;
  transition: .3s;
}

@media (max-width: 767px) {
  .landing {
    display: flex;
    justify-content: center;
  }
  .left span {
    display: none;
  }
  .left .reviews i {
    display: none;
  }
}

@media (max-width: 1041px) {
  .right .phone {
    display: none;
  }
  .left span {
    font-size: 5vw;
  }
}
/*# sourceMappingURL=style.css.map */