* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 90vw;
  }
}

:root {
  --main-color:rgb(225, 147, 29);
  --main-color-alt:rgb(159, 119, 58);
  --main-transition:.3s;
  --bg-section:#ececec;
}

.header {
  position: relative;
}

.header .container {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  padding: 20px 0;
  flex-wrap: wrap;
}

.header .container .logo img {
  width: 44px;
}

.header .container .main-nav {
  display: flex;
  gap: 20px;
  opacity: 1;
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
}

.header .container .main-nav > li:first-child, .header .container .main-nav li:nth-child(2) {
  color: gray;
}

.header .container li:hover {
  cursor: pointer;
  color: #e1931d;
  transition: var(--main-transition);
}

.header .container .main-nav > i {
  opacity: .8;
  font-size: 15px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .header {
    display: flex;
    justify-content: center;
  }
  .header .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }
}

.landing .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing .left {
  margin-top: 8rem;
}

.landing .left .get-app {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.landing .left h1 {
  font-size: 50px;
  margin-top: 1rem;
}

.landing .left h1 span {
  color: orange;
  font-family: 'Pacifico', cursive;
  font-weight: 100;
  font-size: 3.5rem;
}

.landing .left .link {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 1rem;
}

.landing .left .link img {
  opacity: .5;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.landing .left .link .discover {
  padding: 13px 20px;
  border: none;
  border-radius: 0 20px 0 20px;
  background: #fdc024;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.landing .left .link p {
  opacity: .8;
  margin-left: -10px;
  font-weight: 600;
}

.landing .left .reviews {
  margin-top: 7rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.landing .left .reviews i {
  font-size: 3rem;
  opacity: .4;
  color: #a8a6a6;
}

.landing .left .reviews .star {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.landing .left .reviews .star img {
  margin-right: 10px;
}

.landing .left .reviews p {
  color: #c7971d;
  font-weight: bold;
}

.landing .left .reviews img {
  margin-bottom: 10px;
  width: 3rem;
  height: 3rem;
}

.landing .right {
  height: 100%;
  width: 100%;
  background-image: url("../images/bg-phone.jpg");
  background-size: cover;
  background-color: var(--main-color);
  background-blend-mode: lighten;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 60% 100%, 48% 66%);
  opacity: .9;
  z-index: -999;
  position: absolute;
  right: 0;
}

.landing .right .phone {
  width: 350px;
  max-width: 100%;
  position: absolute;
  right: 7rem;
  bottom: 0;
  top: 8rem;
  z-index: 999;
}

.landing .fa-angles-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  animation: bouncing 1.5s infinite;
}

.landing .fa-angles-down:hover {
  color: gray;
  transition: .3s;
}

@keyframes bouncing {
  0%, 10%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40%, 60% {
    transform: translateY(-10px);
  }
}

@media (max-width: 767px) {
  .landing {
    display: flex;
    justify-content: center;
  }
  .left span {
    display: none;
  }
  .left .reviews i {
    display: none;
  }
}

@media (max-width: 1041px) {
  .right .phone {
    display: none;
  }
  .left span {
    font-size: 5vw;
  }
}

.mega-menu {
  position: absolute;
  left: 0;
  width: 60%;
  padding: 30px;
  background-color: #fff;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% - 10px);
  transition: top var(--main-transition), opacity var(--main-transition);
  border-radius: 6px;
  opacity: 0;
}

.mega-menu img {
  position: relative;
  max-width: 100%;
  width: 300px;
  animation: up-and-down 2s linear infinite;
}

.mega-menu .links {
  min-width: 250px;
}

.mega-menu li:not(:last-child) {
  border-bottom: 1px solid var(--main-color);
}

.mega-menu a {
  color: var(--main-color);
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}

.mega-menu i {
  margin-right: -5px;
}

@keyframes up-and-down {
  0%, 100% {
    top: 0;
  }
  50% {
    top: -10px;
  }
}

@media (max-width: 1500px) {
  .mega-menu .image {
    display: none;
  }
  .mega-menu {
    width: 45%;
  }
}

@media (max-width: 1278px) {
  .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}

@media (max-width: 767px) {
  .mega-menu {
    width: 80%;
  }
}

.main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
}

.main-title {
  position: relative;
  top: 8rem;
  margin: 20rem auto;
  padding: 10px;
  border: 3px solid #000;
  width: fit-content;
  position: relative;
}

.main-title::before, .main-title::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background: var(--main-color);
  border-radius: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.main-title::before {
  right: -30px;
}

.main-title::after {
  left: -30px;
}

.main-title:hover::after {
  z-index: -1;
  animation: left-side .5s linear forwards;
}

.main-title:hover::before {
  z-index: -1;
  animation: right-side .5s linear forwards;
}

.main-title:hover {
  cursor: pointer;
  transition-delay: .5s;
  color: #fff;
  border: 2px solid #fff;
}

@keyframes left-side {
  50% {
    right: 0;
    height: 12px;
    width: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
  }
}

@keyframes right-side {
  50% {
    right: 0;
    height: 12px;
    width: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
  }
}

.article {
  padding: 5% 0;
}

.article .container {
  padding: 0 10%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.article .box {
  box-shadow: 0 2px 15px #3a3939;
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transition), box-shadow var(--main-transition);
}

.article .box:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 0 2px 15px #151515;
}

.article .box:hover .info:hover {
  background: #ccc;
}

.article .content {
  padding: 10px;
}

.article .content h3 {
  margin-bottom: 7px;
}

.article .info {
  border-top: 2px solid #6c6969;
  padding: 13px;
  display: flex;
  justify-content: space-between;
}

.article .info a {
  color: var(--main-color);
  font-weight: bold;
}

.article .info:hover i {
  transform: translateX(5px);
  transition: .5s;
}

.article .container img {
  max-width: 100%;
}

.gallery {
  position: relative;
  padding: 15% 0;
  background-color: var(--bg-section);
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}

.gallery .container {
  padding: 0 10%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.gallery .container .box {
  padding: 15px;
  background-color: #fff;
  box-shadow: 10px 10px 10px #787676;
  cursor: pointer;
}

.gallery .container .box .image {
  position: relative;
  overflow: hidden;
}

.gallery .container .box .image img {
  max-width: 100%;
  transition: var(--main-transition);
}

.gallery .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.386);
  opacity: 0;
  z-index: 2;
}

.gallery .image img:hover {
  transform: rotate(5deg) scale(1.1);
}

.gallery .box .image:hover::before {
  animation: flashing .7s;
}

@keyframes flashing {
  0%, 40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/*# sourceMappingURL=style.css.map */